body{
    background-color: #C48857;
}

.login-page {
    background-image: url(http://localhost:3000/assets/images/FundoAdm.png);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.fax1 {
    
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lemon regular';
    
}

.fax1-img {
    background-image: url(../../assets/images/madeira.png);
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 40em;
    align-items: center;
    text-align: center;
    padding: 0% 0%;
    //margin-top: 10%;
}

.login {
    padding: 5% 0%;
    align-items: center;
    text-align: center;
}

.fax1 input {
    width: 100%;
    padding: 1% 1%;
    font-size: 130%;
}

.fax1 button {
    text-decoration: none;
    color: #000;
    border: 0%;
    width: 25%;
    margin: auto;
    background-color: #ECA359;
    padding: 3% 5%;
}

.fax1 p {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;
}

.fax1-logo {
    border-radius: 50%;
    width: 20%;
    padding: 2% 0%;
}

.invalido {
    display: flex;
    justify-content: center;
    font: 700 14px 'Inter';
    color: #000;
    letter-spacing: 1px;
    position: relative;
    top: 40px;
    height: 50px;
}

.grid{
    display: grid;
}

.grid-template-columns-2 {
	grid-template-columns: 1fr 4fr;
    align-items: center;
    padding: 4%;
}